<div class="nodo-wrapper">

  <div class="nodo-label" [ngClass]="claseNodo" [attr.aria-label]="etiqueta">
    {{ etiqueta }}
  </div>

  <ng-container *ngIf="tieneHijos">
    <div class="conector-vertical"></div>
    <div class="nodo-hijos">
      <div class="nodo-rama" *ngFor="let child of nodo.children!">
        <div class="conector-horizontal"></div>
        <div class="conector-vertical-hijo"></div>
        <div class="flecha">▼</div>
        <app-nodo [nodo]="child"></app-nodo>
      </div>
    </div>
  </ng-container>

</div>
